<style>
    body {
        background-color: #eee;
        padding: 15px;
        margin: auto;
        max-width: 785px;
        line-height: 1.25;
        word-wrap: break-word;
        text-align: left;
        overflow-wrap: break-word;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
        color: #181616;
    }

    a {
        color: #467cd3;
    }

    .title {
        text-decoration: none;
        border: 0;
    }

    .title span {
        font-weight: 400;
    }

    nav {
        text-align: right;
        background-color: #d9d9d9;
        padding: 3px;
    }

    nav a {
        margin-right: 3px;
    }

    pre code {
        color: #222;
        display: block;
        background-color: #d9d9d9;
        padding: 10px;
        white-space: pre-wrap;
        font-size: 0.825rem;
        overflow-x: auto;
    }

    div.highlight pre {
        background-color: initial;
        color: initial;
    }

    div.highlight code {
        background-color: unset;
        color: unset;
    }

    .section-page-description {
        display: block;
        font-size: 0.85rem;
    }

    .section-page-content {
        display: block;
        background-color: #d9d9d9;
        margin-top: 5px;
        padding: 5px;
    }

    .section-page-content>* {
        margin: 0px;
    }

    .footnote-definition-label {
        background-color: #d9d9d9;
    }

    .footnote-definition p {
        display: inline;
    }

    table {
        width: 100%;
    }

    img {
        max-width: 100%;
    }

    footer {
        display: block;
        text-align: center;
        padding-left: 3px;
        background-color: #d9d9d9;
    }

    footer>a {
        margin: 5px;
        color: #181616;
    }
</style>